<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbSource" value="DESKTOP-9FQ9GU9" />
    <add key="dbName" value="ZYX" />
    <add key="userName" value="sa" />
    <add key="password" value="12345" />
    <add key="allowLog" value="true"/>
    <add key="logLevel" value="2"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>  
</configuration>